@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    font-family: "Anton SC", sans-serif;
}

@layer base {
    h1 {
        @apply text-5xl lg:text-8xl font-anton uppercase leading-tight lg:leading-tight tracking-wide;
    }

    h2 {
        @apply text-3xl lg:text-5xl font-anton;
    }

    h3 {
        @apply text-xl md:text-2xl lg:text-4xl
    }

    h4 {
        @apply text-2xl
    }

    h5 {
        @apply text-xs lg:text-sm font-roboto
    }
}

@layer components {
    .btn-orange {
        @apply bg-orange hover:bg-orange/80 text-white tracking-widest font-roboto text-2xl lg:text-3xl uppercase font-semibold py-2 px-5 lg:py-4 lg:px-7 rounded-full;
    }
}